@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    font-family: poppins;
}

.navigation__link {
    text-decoration: none;
    color: inherit;
    margin: 0 15px; 
}

.navigation__link--first {
    margin-left: 0;
}

.navigation__link--last {
    margin-right: 0;
}

.company {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 35px 100px 0;
}

.company__name {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 1px;
}

.navigation {
    display: flex;

}